body{
margin-left:20px;
}
table, th, td {
border: 1px solid;
text-align: center;
padding:0.1em;
font-size:16px;
}
.topheading {
margin-top:20px;
padding: 20px;
font-weight:bold;
font-size:35px;
background-color: grey;
color:white;
text-align: center;
}

.nse-th th {
padding: 10px;
background:aqua;
}
.nse-td td {
padding: 3px 4px;
}
.bse-th th {
padding: 10px;
background:lightpink;
}

.bse-td td {
padding: 3px 4px;
}

.eur-td td {
padding: 2.5px 3px;
}

.eur-th th {
padding: 15px 10px;
background:lightpink;

}

.asia-td td {
padding: 4.7px 3px;
}

.asia-th th {
padding: 15px 7px;
background:aqua;

}

#ltupdate {
font-size: 12px;
}

.red{
    color:red;
}

.green{
    color: green;
} 

.nse-adv-td td{
padding: 4.7px 10px;
}
    
.nse-adv-th th {
padding: 15px 7px;
background:aqua;

}

.bse-adv-td td{
    padding: 4.7px 10px;
    }
        
.bse-adv-th th {
padding: 15px 7px;
background:lightcoral;
    
}
    
.looser-td td{
padding: 15px 3px;
}

.looser-th th {
padding: 5px 1.5px;
background:lightpink;

}

.gainer-td td{
padding: 5px 1.5px;
}

.gainer-th th {
padding: 15px 3px;
background:aqua;

}

.active-td td{
padding: 5px 1.5px;
}

.active-th th {
padding: 15px 3px;
background: lightseagreen;

}