{% extends 'base.html' %}
{% block content %}
<div class="container" class='jumbotron'>
  <h3 class="topheading">Advance-Decline</h3>
  <br>
  <div class="row">
    <!-- col 1-1 start-->
    <div class="col-md-6">
    <h4>NSE</h4>
      <table class ='table'>
        <thead class="table-danger">
          <th>Index</th>
          <th>Advance</th>
          <th>Decline</th>
          <th>Neutral</th>
        </thead>
        {% for adv_n in adv_nse %}
        <tbody>
          {% if adv_n.a > adv_n.d %}
          <td class='text-success'>
          {% else %}
          <td class = 'text-danger'>
          {% endif %}
          {{adv_n.dpName}}</td>
          <td>{{adv_n.a}}</td>
          <td>{{adv_n.d}}</td>
          <td>{{adv_n.n}}</td>
          
        </tbody>
        {% endfor %}
      </table>
    </div>
    <!-- col 1-1 start-->
    <div class="col-md-6">
      <h4>BSE</h4>
      <table class ='table'>
        <thead class="table-success">
          <th>Index</th>
          <th>Advance</th>
          <th>Decline</th>
          <th>Neutral</th>
        </thead>
        {% for adv_b in adv_bse %}
        <tbody>
          {% if adv_b.a > adv_b.d %}
          <td class='text-success'>
          {% else %}
          <td class = 'text-danger'>
          {% endif %}
          {{adv_b.dpName}}</td>
          <td>{{adv_b.a}}</td>
          <td>{{adv_b.d}}</td>
          <td>{{adv_b.n}}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

