{% extends 'base.html' %}
{% block content %}


    <div class="container" class='jumbotron'>
      <h3 class="topheading">Global Market</h3>
      <br>
      <div class="row">
        <!-- col 1-1 start-->
        <div class="col-md-6">
          <h4>Aisa</h4>
          <table class ='table'>
            <thead class="table-danger">
              <th>Country</th>
              <th>Symbol</th>
              <th>LastUpdate</th>
              <th>%Change</th>
              <th>Change</th>
              <th>Isopen</th>
            </thead>
            {% for asia in asia_index %}
            <tbody>
              {% if asia.PChng > 0 %}
              <td class='text-success'>
              {% else %}
              <td class = 'text-danger'>
              {% endif %}
                {{asia.Coun}}</td>
                <td>{{asia.IName}}</td>
                <td id ='ltupdate'>{{asia.Date}}</td>
                <td>{{asia.PChng}}</td>
                <td>{{asia.Chng}}</td>
                <td>{{asia.IsOpen}}</td>
              </tbody>
              {% endfor %}
            </table>
        </div>
          <!-- col 1-1 start-->
        <!-- col 1-1 start-->
        <div class="col-md-6">
          <h4 class='asia'>Europe-America</h4>
          <table class ='table'>
            <thead class="table-success">
              <th>Country</th>
              <th>Symbol</th>
              <th>LastUpdate</th>
              <th>%Change</th>
              <th>Change</th>
              <th>Isopen</th>
            </thead>
            <tbody>
              {% for eur in eur_index %}
              {% if eur.PChng > 0 %}
              <td class='text-success'>
              {% else %}
              <td class = 'text-danger'>
              {% endif %}
              {{eur.Coun}}</td>
              <td>{{eur.IName}}</td>
              <td id ='ltupdate'>{{eur.Date}}</td>
              <td>{{eur.PChng}}</td>
              <td>{{eur.Chng}}</td>
              <td>{{eur.IsOpen}}</td>
            </tbody>
            {% endfor %}
          </table>
        </div>
      <br>
    </div>
{% endblock %}

