{% extends 'base.html' %}
{% block content %}


    <div class="container" class='jumbotron'>
      <h3 class="topheading">Indices</h3>
      <br>
      <div class="row">
        <!-- col 1-1 start-->
        <div class="col-md-6">
          <h4>NSE</h4>
          <table class ='table'>
            <thead class="table-danger">
              <th>Symbol</th>
              <th>ltp</th>
              <th>%Change</th>
              <th>Change</th>
              <th>High</th>
              <th>Low</th>
            </thead>
            <tbody>
              {% for nse in nse_index %}
              <td>{{nse.IName}}</td>
              <td>{{nse.LTP}}</td>
              <td>{{nse.PChng}}</td>
              <td>{{nse.Chng}}</td>
              <td>{{nse.High}}</td>
              <td>{{nse.Low}}</td>
              </tbody>
              {% endfor %}
            </table>
        </div>
          <!-- col 1-1 start-->
        <!-- col 1-1 start-->
        <div class="col-md-6">
          <h4 class='asia'>BSE</h4>
          <table class ='table'>
            <thead class="table-success">
              <th>Symbol</th>
              <th>ltp</th>
              <th>%Change</th>
              <th>Change</th>
              <th>High</th>
              <th>Low</th>
            </thead>
            <tbody>
              {% for bse in bse_index %}
              <td>{{bse.IName}}</td>
              <td>{{bse.LTP}}</td>
              <td>{{bse.PChng}}</td>
              <td>{{bse.Chng}}</td>
              <td>{{bse.High}}</td>
              <td>{{bse.Low}}</td>
            </tbody>
            {% endfor %}
          </table>
        </div>
      <br>
    </div>
{% endblock %}

  </body>
</html>