{% extends 'base.html' %}
{% block content %}
<div class="container" class='jumbotron'>
  <h3 class="topheading">Advance-Decline</h3>
  <br>
  <div class="row">
    <!-- col 1-1 start-->
    <div class="col-md-4">
    <h4>Most Active</h4>
      <table class ='table'>
        <thead class="table-danger">
          <th>Symbol</th>
          <th>ltp</th>
          <th>%Change</th>
          <th>Change</th>
          <th>Volume</th>
        </thead>
        {% for active in active_stocks %}
        <tbody>
          <td>{{active.SName}}</td>
          <td>{{active.LTP}}</td>
          <td>{{active.PChng}}</td>
          <td>{{active.Chng}}</td>
          <td>{{active.Vlm}}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
    <!-- col 1-1 start-->
    <div class="col-md-4">
      <h4>Top Gainers</h4>
      <table class ='table'>
        <thead class="table-danger">
          <th>Symbol</th>
          <th>ltp</th>
          <th>%Change</th>
          <th>Change</th>
          <th>Volume</th>
        </thead>
        {% for gainer in gainers_stocks %}
        <tbody>
          <td>{{gainer.SName}}</td>
          <td>{{gainer.LTP}}</td>
          <td>{{gainer.PChng}}</td>
          <td>{{gainer.Chng}}</td>
          <td>{{gainer.Vlm}}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  <!-- col 1-1 start-->
  <div class="col-md-4">
    <h4>Top Loosers</h4>
      <table class ='table'>
        <thead class="table-info">
          <th>Symbol</th>
          <th>ltp</th>
          <th>%Change</th>
          <th>Change</th>
          <th>Volume</th>
        </thead>
        {% for looser in losers_stocks %}
        <tbody>
          <td>{{looser.SName}}</td>
          <td>{{looser.LTP}}</td>
          <td>{{looser.PChng}}</td>
          <td>{{looser.Chng}}</td>
          <td>{{looser.Vlm}}</td>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}

